@import '../variables';

.stock-progress{
    .text{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .stock{
            .current{
                font-size: 1.25rem;
                font-weight: 800;
            }
            .total{
                font-size: 0.75rem;
                font-weight: 800;
              
            }
        }
    }
}