@import '../variables';

.search{
    .header{
        margin-bottom: 24px;
        form{
            .input-group{
                width: 100%;
            }
            div .search-container, .search-container{
                width: 100%;
                .search-filters{
                    margin: 0px -15px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-end;
                }
                .refresh{
                    float: right;
                    margin-top: 20px;
                }
            }
            div .search-container {
                .search-filters{
                    margin: 24px -15px;
                }
            }
            .error-criteria{
                font-size: small;
                color: $info;
            }
        }
    }
}